<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online.northal.mapper.ApartmentMapper">

    <select id="selectByPage" resultType="online.northal.vo.ApartmentItemVo">
        select id,
               name,
               introduction,
               district_id,
               district_name,
               city_id,
               city_name,
               province_id,
               province_name,
               address_detail,
               latitude,
               longitude,
               phone,
               is_release,
               create_time,
               update_time,
               ri.cnt as total_room_count,
               ri.cnt-la.cnt as free_room_count
        from (SELECT *
              FROM apartment_info
        <where>
            is_deleted = 0
            <if test="dto.provinceId != null">
                and ai.province_id = #{dto.provinceId}
            </if>
            <if test="dto.cityId != null">
                and ai.city_id = #{dto.cityId}
            </if>
            <if test="dto.districtId != null">
                and ai.district_id = #{dto.districtId}
            </if>
        </where>
              ) ai
                 left join

             (select apartment_id,
                     COUNT(*) cnt
              from room_info
              where is_deleted = 0
                and is_release = 1
              group by apartment_id) ri
             on ai.id = ri.apartment_id
                 left join
             (select apartment_id,
                     COUNT(*) cnt
              from lease_agreement
              where is_deleted = 0
                and status in (2, 5, 6, 7)
              group by apartment_id) la
             on ai.id = la.apartment_id
    </select>
</mapper>