<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online.northal.mapper.GraphMapper">

    <select id="selectListByItemIdAndType" resultType="online.northal.vo.GraphVo">
        select name,
               url
        from graph_info
        where item_id = #{id}
          and item_type = #{graphItemType}
          and is_deleted = 0

    </select>
</mapper>